* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 90%;
    
}

.container {
    height: 100%;
    position: relative;
}

.navBar {
    background-color: black;
    width: 100vw;
    padding: 10px;
    overflow: hidden;
}

.navBar ul {
    padding-top: 45px;
}


.searchBox {
    float: right;
    height: 19px;
    padding-top: 2px;
    background-color: whitesmoke;
    color: black;
}

.cartIcon {
    background-color: white;
    border-radius: 1.5px;
    height: 20px;
    padding: 5px 0px;
}

.navBar li,
.navBar input {
    list-style-type: none;
    float: left;
    color: dimgray;
    padding: 5px 5px;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
}

.logo {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    float: right;
}

a {
    color: whitesmoke;
    list-style-type: none;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
}

.searchbtn {
    height: 15px;
    width: 15px;
    margin: 4px 2px 4px 0px;
    padding: 4px 2px 2px 0px;
    float: right;
}

/* End navBar styling */


/* banner styling */

.pigmentBags {
    width: 100vw;
}

.process {
    margin: 10px;
    padding: 10;
}

.processContain {
    margin-left: 10px;
}


/* footer styling */

.bottomNav {
    background-color: wheat;
    display: inline-flex;
    
}

.bottomNav ul {
    
    min-height: 5vh;
    display: inline-flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 25px 0px 0px 10px;
    width: 100vw;
    height: 25px;
    background-color: black;
    color: whitesmoke;
    

}

